@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
body{
    overflow: hidden;
}
.wrapper{
    width: 100%;
}
.shape-1{
    position: absolute;
    width: 140%;
    min-width: 1300px;
    left: -15%;
    top: -10%;
    min-height: 100%;
    z-index: 2;
}
.shape-2{
    position: absolute;
    width: 120%;
    top:20%;
    left: -10%;
    z-index: 1;
}

form{
    position: absolute;
    top: 55%;
    left: 35%;
    z-index: 3;
    width: 100%;
}

input{
    display: block;
    font-size: 20px;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
}
h3{
    color:white;
    display: none;
    text-align: center;
    font-size: 30px;
    max-width: 60%;
}

.button{
    cursor: pointer;
    width: 30%;
    background: #3B59CE;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    transition: all .3s;
}

.button:hover{
    color: #2A86D5;
    background: whitesmoke;
}

.logo{
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 5;
}

.logo-1{
    height: 120px;
}
.logo-2{
    height: 120px;
}
h2{
    position: absolute;
    left: 60%;
    color: white;
    z-index: 5;
    font-size: 80px;
    max-width: 500px;
}

@media (max-width:1280px){
    h2{
        font-size: 60px;
    }
    .logo-1{
        height: 100px;
    }
    .logo-2{
        height: 100px;
    }
}

@media (max-width:980px){
    h2{
        font-size: 30px;
        top:30%;
        max-width: 400px;
    }
    .logo-1{
        height: 80px;
    }
    .logo-2{
        height: 80px;
    }
    .shape-1{
        left: -40%;
        min-width: 2000px;
    }
    form{
        top: 50%;
    }
}
@media (max-width:800px){
    .shape-1{
        left: -70%;
    }
    form{
        left: 20%;
    }
    input, .button{
        width: 60%;
    }
    form{
        top: 40%;
    }
    h3{
        display: block;
    }
    h2{
        display: none;
    }
}
@media (max-width:700px){
    .shape-1{
        left: -90%;
    }
    .logo{
        margin: auto;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-1{
        display: block;
        margin: auto;
        object-fit: contain;
        width: 100%;
    }
    .logo-2{
        display: block;
        margin: auto;
        object-fit: contain;
        width: 100%;
    }
}
@media (max-width:600px){
    .shape-1{
        left: -110%;
    }
}
